:root {
  --blue: #0b1f5b;
  --gold: #c8a35f;
  --text-dark: #0f172a;
  --text-muted: #475569;
  --light-grey: #f1f1f1;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  color: var(--text-dark);
  line-height: 1.6;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}


.columns-container > .default-content-wrapper h3 {
  font-size: 36px;
  font-weight: 500;
  color: var(--gold);
  margin-bottom: 24px;
  position: relative;
}

.columns-container > .default-content-wrapper h3::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--gold);
  margin-top: 12px;
  width: 100%;
}

.columns-2-cols > div {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: flex-start;
}

.columns-2-cols h1 {
  font-size: 26px;
  color: var(--blue);
  margin-bottom: 12px;
}

.columns-2-cols h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 5px;
}

.columns-2-cols p {
  font-size: 16px;
  color: var(--text-muted);
  margin-bottom: 18px;
}

.columns-2-cols picture img {
  width: 100%;
  height: auto;
  margin: 24px 0;
  display: block;
}

.columns-2-cols > div > div:first-child {
  flex: 2;
}

/* Added Sumit Sir Css 15 Ded */
.columns-container .columns-2-cols h3 {
    color: #002856 !important;
    font-family: "Playfair Display", serif;
    font-size: 18px !important;
    font-weight: 600;
    line-height: 22px;
    padding: 0;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.columns-container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.columns-container ul li {
    padding: 0 !important;
}

.columns-2-cols > div > div:last-child {
  background: #e6e6e6;
  padding: 24px;
  position: relative;
  margin-top: 45px;
  flex: 1;
}

.columns-2-cols > div > div:last-child h3 {
  font-size: 18px;
  color: var(--blue);
  margin-bottom: 16px;
}

.columns-2-cols > div > div:last-child ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columns-2-cols > div > div:last-child li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 15px;
  color: var(--text-dark);
}

.columns-2-cols > div > div:last-child li::before {
  content: "➜";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 27px;
  border: 1px solid #0b1f5b;
  border-radius: 50%;
  color: #0b1f5b;
  font-size: 14px;
}

.columns-2-cols > div > div:last-child a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

.columns-2-cols > div > div:last-child a:hover {
  color: var(--blue);
}
